#block /* Block principal */
{
	display: flex;
	flex-direction: column;
	text-align: center;
	align-items: center;
	margin: 13%;
	margin-top: 40px;
	padding-top: 50px;
	padding-bottom: 50px;
	background-color: #FFF5FE;
	box-shadow: 1px 1px 12px #555;
	font-family: Georgia, "Arial Black", Arial, Verdana, sans-serif;
}
header
	{
		display: inline-block;
	}
.titre, span
{
	display: block;
	font-size: 1.8em;
	background: linear-gradient(#C67412, #A56799);
    background: -webkit-linear-gradient(#C67412, #A56799);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.menu1
{
	margin-top: 55px;
	border-bottom: 2px solid #C67412;
}
.menu2
{
	margin-top: 55px;
	border-bottom: 2px solid #A56799;
}
.menu3
{
	margin-top: 55px;
	border-bottom: 2px solid #6E4CCC;
}
.menu1 h2 /* Titre menu */
{
	position: absolute;
	background-color: #FFF5FE;
	color: #C67412;
	width: 350px;
	margin-top: -15px;
	margin-left: 120px;

}
.menu2 h2 
{
	position: absolute;
	background-color: #FFF5FE;
	color: #A56799;
	width: 350px;
	margin-top: -15px;
	margin-left: 120px;

}
.menu3 h2
{
	position: absolute;
	background-color: #FFF5FE;
	color: #6E4CCC;
	width: 350px;
	margin-top: -15px;
	margin-left: 120px;

}
.sousmenu /* Plats des menus */
{
	display: flex;
	flex-direction: row;
	text-align: left;
	margin-left: 70px;
	margin-top: 60px;
	color: #C67412;
}
.sousmenu2 
{
	display: flex;
	flex-direction: row;
	text-align: left;
	margin-left: 70px;
	margin-top: 60px;
	color: #A56799;
}
.sousmenu .prix
{
	margin-left: 170px;
	font-weight: bold;
}
.sousmenu2 .prix
{
	margin-left: 35px;
	font-weight: bold;
}
.plats3
{
	color: #6E4CCC;
}
h2:after /* Animation soulignement */
{
    content: '';
    display: block;
    position: absolute;
    left: 0;
    bottom: 0;
    height: 3px;
    width: 0;
    background: transparent;
    transition: width .5s ease, background-color .5s ease;
}
  
h2:hover:after 
{
    width: 100%;
    background: #AA6AB2;
}
@media all and (max-width: 429px) /* Responsive Mobile*/
{
	#block
	{
		display: flex;
		font-size: 50%;
		margin: 0%
	}
	.menu1 h2, .menu2 h2, .menu3 h2
	{
		padding-top: 8px;
		width: 165px;
		margin-left: 65px;
	}
	.sousmenu .plats1, .sousmenu .plats3, .sousmenu2 .plats2
	{
		display: flex;
		position: absolute;
		margin-left: -68px;
		margin-top: -25px;
	}
	.sousmenu .prix, .sousmenu2 .prix
	{
		display: flex;
		margin-left: 200px;
		margin-top: -27px;
	}
	h2:after
	{
		height: 1px;
	}
	.menu1, .menu2, .menu3
	{
		width: 295px;
		
	}		
}
@media all and (min-width: 430px) and (max-width: 800px) /* Responsive  Tablette*/
{
	#block
	{
		display: flex;
		font-size: 75%;
	}
	.menu1 h2, .menu2 h2, .menu3 h2
	{
		display: flex;
		justify-content: center;
		margin-left: 11%;
		width: 35%;
	}
	.sousmenu .prix
	{
		margin-left: 135px;
	}
	.sousmenu, .sousmenu2
	{
		margin-left: 40px;
		margin-top: 35px;
	}
}

@media all and (min-width: 2000px) and (max-width: 2600px) /* Responsive TV*/
{
	#block
	{
		font-size: 180%;
		margin: 5%
	}
	.menu1 h2, .menu2 h2, .menu3 h2
	{
		margin-left: 190px;
		width: 600px;
	}
	.sousmenu .prix
	{
		margin-left: 280px;
	}
	.sousmenu, .sousmenu2
	{
		margin-top: 130px;
	}
}