header /* En-tête du site */
{
	display: flex;
	font-family: Impact, "Arial Black", Arial, Verdana, sans-serif;
	background-color: rgb(87,156,135);
	padding-top: 20px;
	padding-bottom: 20px;
	color: rgb(253,203,70);
	justify-content: center;
}
body
{
	margin: auto;
	padding: auto;
}
.nom
{
	display: flex;
	margin-top: 50px;
	justify-content: center;
	font-size: 1.2em;
	font-family: "Arial Black", Arial, Verdana, sans-serif;
	color: black;
}
#block /* Block principal */
{
	display: flex;
	flex-direction: column;
	text-align: center;
	align-items: center;
	margin: 13%;
	margin-top: 40px;
	padding-top: 50px;
	padding-bottom: 50px;
	background-color: #FFF5FE;
	box-shadow: 1px 1px 12px #555;
	font-family: Georgia, "Arial Black", Arial, Verdana, sans-serif;
}
.titre, span
{
	display: block;
	font-size: 1.8em;
	background: linear-gradient(#C67412, #A56799);
    background: -webkit-linear-gradient(#C67412, #A56799);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.menu1
{
	display: flex;
	justify-content: center;
	margin-top: 55px;
	border-bottom: 2px solid #C67412;
}
.menu2
{
	display: flex;
	justify-content: center;
	margin-top: 55px;
	border-bottom: 2px solid #A56799;
}
.menu3
{
	display: flex;
	justify-content: center;
	margin-top: 55px;
	border-bottom: 2px solid #6E4CCC;
}
.menu1 h2 /* Titre menu */
{
	position: absolute;
	background-color: #FFF5FE;
	color: #C67412;
	width: 350px;
	margin-top: -15px;

}
.menu2 h2 
{
	position: absolute;
	background-color: #FFF5FE;
	color: #A56799;
	width: 350px;
	margin-top: -15px;

}
.menu3 h2
{
	position: absolute;
	background-color: #FFF5FE;
	color: #6E4CCC;
	width: 350px;
	margin-top: -15px;

}
.sousmenu /* Plats des menus */
{
	display: flex;
	flex-direction: row;
	text-align: left;
	margin-left: 30px;
	margin-top: 60px;
	color: #C67412;
}
.sousmenu2 
{
	display: flex;
	flex-direction: row;
	text-align: left;
	margin-left: 30px;
	margin-top: 60px;
	color: #A56799;
}
.sousmenu .prix
{
	margin-left: 170px;
	font-weight: bold;
}
.sousmenu2 .prix
{
	margin-left: 35px;
	font-weight: bold;
}
.plats3
{
	color: #6E4CCC;
}
h2:after /* Animation soulignement */
{
    content: '';
    display: block;
    position: absolute;
    left: 0;
    bottom: 0;
    height: 3px;
    width: 0;
    background: transparent;
    transition: width .5s ease, background-color .5s ease;
}
  
h2:hover:after 
{
    width: 100%;
    background: #AA6AB2;
}
a:link /* Ne pas souligner les liens */
{
text-decoration:none;
}
footer /* Bas de page */
{
	display: flex;
	justify-content: space-between;
	background-color: rgb(87,156,135);	
	color: rgb(253,203,70);
	position: fixed;
    bottom: 0;
    width: 100%;

}
footer h3
{
	display: flex;
	padding-left: 20px;
	padding-right: 40px;
	color: rgb(253,203,70);
}
footer h3:hover 
{
  /* Commencer l'annimation et la faire durer 1s */
  animation: shake 1s;

  /* Quand elle est finie, recommencer */
  animation-iteration-count: infinite;
}

@keyframes shake {
  0% { transform: translate(1px, 1px) rotate(0deg); }
  10% { transform: translate(-1px, -2px) rotate(-1deg); }
  20% { transform: translate(-3px, 0px) rotate(1deg); }
  30% { transform: translate(3px, 2px) rotate(0deg); }
  40% { transform: translate(1px, -1px) rotate(1deg); }
  50% { transform: translate(-1px, 2px) rotate(-1deg); }
  60% { transform: translate(-3px, 1px) rotate(0deg); }
  70% { transform: translate(3px, 1px) rotate(-1deg); }
  80% { transform: translate(-1px, -1px) rotate(1deg); }
  90% { transform: translate(1px, 2px) rotate(0deg); }
  100% { transform: translate(1px, -2px) rotate(-1deg); }
}
@media all and (max-width: 549px) /* Responsive Mobile*/
{
	body
	{
		font-size: 55%;
	}
	.nom
	{
		margin-top: 10px;
	}
	.titre
	{
		margin-top: 10px;
		margin-bottom: -20px;
	}
	#block
	{
		padding-top: 10px;
		margin: 1%;
		margin-bottom: 80px;
		padding-bottom: 70px;
	}
	.menu1 h2, .menu2 h2, .menu3 h2
	{
		padding-top: 8px;
		width: 185px;
	}
	.sousmenu .plats1, .sousmenu .plats3, .sousmenu2 .plats2
	{
		display: flex;
		position: absolute;
		margin-left: -50px;
		margin-top: -25px;
	}
	.sousmenu .prix, .sousmenu2 .prix
	{
		display: flex;
		margin-left: 210px;
		margin-top: -27px;
	}
	h2:after
	{
		height: 1px;
	}
	.menu1, .menu2, .menu3
	{
		margin-top: 55px;
	}	
	.sousmenu, .sousmenu2
	{
		margin-bottom: -15px;
	}	
}
@media all and (min-width: 550px) and (max-width: 1023px) /* Responsive */
{
	body
	{
		font-size: 65%;
	}
	#block
	{
		margin: 10%;
	}
	.nom
	{
		margin-top: 10px;
		margin-bottom: -40px;
	}
	.menu1 h2, .menu2 h2, .menu3 h2
	{
		width: 265px;
	}
	.sousmenu .prix
	{
		margin-left: 120px;
	}
	.sousmenu, .sousmenu2
	{
		margin-top: 35px;
	}
}