@media all and (max-width: 1024px) /* Responsive */
{
	#block
	{
		display: flex;
		margin: auto;
		font-size: 1.8em;
	}

}

#block /* Block principal */
{
	display: flex;
	flex-direction: column;
	margin: 40px 340px 40px;
	padding-top: 50px;
	padding-bottom: 50px;
	text-align: center;
	width: 750px;
	height: 1050px;
	background-color: #FCDFDB;
	box-shadow: 1px 1px 12px #555;
	font-family: Georgia, "Arial Black", Arial, Verdana, sans-serif;
	font-size: 1em;
}
i /* Icone Musique */
{
	font-size: 3.5em;
	color: #F15F62;
}
.menu 
{
	margin-top: 55px;
	margin-bottom: 45px;
	border-bottom: 2px solid black;
}
.menu h2 /* Titre menu */
{
	position: absolute;
	background-color: #FCDFDB;
	width: 230px;
	margin-top: -15px;
	margin-left: 260px;

}
.sousmenu /* Plats des menus */
{
	display: flex;
	flex-direction: row;
	text-align: left;
	margin-left: 75px;
	margin-top: 80px;
}
.sousmenu .prix
{
	margin-left: 165px;
	font-weight: bold;
}
footer
{
	display: flex;
	margin-top: 40px;
	justify-content: center;
	margin-left: -15px;
}
footer i
{
	position: absolute;
	margin-left: -30px;
}

h2 /* Animation soulignement */
{
  text-decoration: none;
  background: linear-gradient(to top, rgba(255, 0, 0, 0.5) 0%, rgba(255, 0, 0, 0.5) 10%, transparent 10.01%) no-repeat left bottom / 0 100%;
  transition: background-size .5s;
}

h2:hover 
{
  background-size: 100% 100%;
}