#block /* Block principal */
{
	display: flex;
	flex-direction: column;
	text-align: center;
	align-items: center;
	margin: 13%;
	margin-top: 40px;
	padding-top: 50px;
	padding-bottom: 50px;
	background-color: white;
	box-shadow: 1px 1px 12px #555;
	font-family: Georgia, "Arial Black", Arial, Verdana, sans-serif;
}
.titre
{
	font-size: 1.5em;
    background: -webkit-linear-gradient(#3d923a, #beff7f);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.menu1
{
	margin: 55px 20px 45px;
	border-bottom: 2px solid black;
	border-bottom-color: #3d923a;
}
.menu2
{
	margin: 55px 20px 45px;
	border-bottom: 2px solid black;
	border-bottom-color: #3d923a;
}
.menu3
{
	margin: 55px 20px 45px;
	border-bottom: 2px solid black;
	border-bottom-color: #3d923a;
}
.menu1 h6 /* Titre menu */
{
	position: absolute;
	font-size: 1.5em;
	background-color: white;
	color: #000000;
	width: 350px;
	margin-top: -15px;
	margin-left: 95px;
	font-weight: normal;
}
.menu2 h6 
{
	position: absolute;
	font-size: 1.5em;
	background-color: white;
	color: #000000;
	width: 350px;
	margin-top: -15px;
	margin-left: 95px;
	font-weight: normal;
}
.menu3 h6
{
	position: absolute;
	font-size: 1.5em;
	background-color: white;
	color: #000000;
	width: 350px;
	margin-top: -15px;
	margin-left: 95px;
	font-weight: normal;
}
.sousmenu /* Plats des menus */
{
	display: flex;
	flex-direction: row;
	text-align: left;
	margin-left: 30px;
	margin-top: 60px;
	color: #000000;
}
.sousmenu2 
{
	display: flex;
	flex-direction: row;
	text-align: left;
	margin-left: 30px;
	margin-top: 60px;
	color: #000000;
}
.sousmenu3 /* Plats des menus */
{
	display: flex;
	flex-direction: row;
	text-align: left;
	margin-left: 30px;
	margin-top: 60px;
	color: #000000;
}
.sousmenu .prix
{
	margin-left: 110px;
}
.sousmenu2 .prix
{
	margin-left: 32px;
}
.sousmenu3 .prix
{
	margin-left: 40px;
}
.plats3
{
	color: #000000;
}

h6:after /* Animation soulignement */
{
    content: '';
    display: block;
    position: absolute;
    left: 0;
    bottom: 0;
    height: 3px;
    width: 0;
    background: transparent;
    transition: width .5s ease, background-color .5s ease;
}
  
h6:hover:after 
{
    width: 100%;
    background: #ACEF75;
}
@media all and (max-width: 429px) /* Responsive Mobile*/
{
	#block
	{
		display: flex;
		font-size: 50%;
		margin: 0%
	}
	.menu1, .menu2, .menu3
	{
		width: 260px;
	}
	.menu1 h6, .menu2 h6, .menu3 h6
	{
		padding-top: 8px;
		width: 165px;
		margin-left: 47px;
	}
	.sousmenu .plats1, .sousmenu2 .plats2, .sousmenu3 .plats3
	{
		display: flex;
		position: absolute;
		margin-left: -23px;
		margin-top: -25px;
	}
	.sousmenu .prix, .sousmenu2 .prix, .sousmenu3 .prix
	{
		display: flex;
		margin-left: 235px;
		margin-top: -27px;
	}
	h6:after
	{
		height: 1px;
	}	
}
@media all and (min-width: 430px) and (max-width: 800px) /* Responsive  Tablette*/
{
	#block
	{
		margin: 8%;
	}
	.menu1 h6, .menu2 h6, .menu3 h6
	{
		margin-left: 80px;
	}
	.sousmenu .plats1, .sousmenu2 .plats2, .sousmenu3 .plats3
	{
		width: 490px;
	}
	.sousmenu .prix
	{
		margin-left: 10px;
	}
	.sousmenu2 .prix
	{
		margin-left: 10px;
	}
	.sousmenu3 .prix
	{
		margin-left: 10px;
	}
}
@media all and (min-width: 2000px) and (max-width: 2600px) /* Responsive TV*/
{
	#block
	{
		font-size: 180%;
		margin: 5%
	}
	.menu1 h6, .menu2 h6, .menu3 h6
	{
		margin-left: 165px;
		width: 600px;
	}
	.sousmenu .prix
	{
		margin-left: 190px;
	}
	.sousmenu, .sousmenu2, .sousmenu3
	{
		margin-top: 130px;
	}
}