header /* En-tête du site */
{
	display: flex;
	font-family: Impact, "Arial Black", Arial, Verdana, sans-serif;
	background-color: rgb(87,156,135);
	padding-top: 20px;
	padding-bottom: 20px;
	color: rgb(253,203,70);
	justify-content: center;
}
body
{
	margin: auto;
	padding: auto;
}
.sousmenu1 a
{
	display: flex;
	flex-direction: column;
	justify-content: center;
	background-color: #FCDFDB;
	align-items: center;
	color: black;
	width: 100%;
	cursor: pointer;
	transform: scale(1);
    transition-property: transform;
    transition-duration: 600ms;
}
i /* Icone Musique */
{
	font-size: 3.5em;
	color: #F15F62;
}
figure h2 /* """" */
{
	font-size: 2.5em;
}
figure h3
{
	font-size: 1.6em;
}
.sousmenu2 a
{
	display: flex;
	flex-direction: column;
	justify-content: center;
	background-color: white;
	align-items: center;
	width: 100%;
	cursor: pointer;
	transform: scale(1);
    transition-property: transform;
    transition-duration: 600ms;
}
.sousmenu2 h3
{
	display: block;
	font-size: 1.8em;
    background: linear-gradient(#0228dd, #0889f1);
    background: -webkit-linear-gradient(#0228dd, #0889f1);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-top: 15px;
}
.sousmenu2 h2
{
	display: block;
	background: linear-gradient(#0228dd, #0889f1);
    background: -webkit-linear-gradient(#0228dd, #0889f1);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-top: 25px;
}
.sousmenu3 a
{
	display: flex;
	flex-direction: column;
	justify-content: center;
	background-color: #FFF5FE;
	align-items: center;
	width: 100%;
	cursor: pointer;
	transform: scale(1);
    transition-property: transform;
    transition-duration: 600ms;
}
.sousmenu3 h3
{
	display: block;
	font-size: 1.8em;
    background: linear-gradient(#C67412, #A56799);
    background: -webkit-linear-gradient(#C67412, #A56799);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-top: 15px;
}
.sousmenu3 h2
{
	display: block;
	background: linear-gradient(#C67412, #A56799);
    background: -webkit-linear-gradient(#C67412, #A56799);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-top: 25px;
}
.sousmenu4 a
{
	display: flex;
	flex-direction: column;
	justify-content: center;
	background-color: white;
	align-items: center;
	width: 100%;
	cursor: pointer;
	transform: scale(1);
    transition-property: transform;
    transition-duration: 600ms;
}
.sousmenu4 h3
{
	display: block;
	font-size: 1.8em;
    background: linear-gradient(#3d923a, #beff7f);
    background: -webkit-linear-gradient(#3d923a, #beff7f);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-top: 15px;
}
.sousmenu4 h2
{
	display: block;
	background: linear-gradient(#3d923a, #beff7f);
    background: -webkit-linear-gradient(#3d923a, #beff7f);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-top: 25px;
}
#block /* Block principal du site */
{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: row;
	margin: 3%;
}
#block a:hover /* Action au survol de la souris */
{
	transform: scale(1.3);
	opacity: 0.8;
}
.menu1 figure /* Menus du site */
{
	display: flex;
	justify-content: space-between;
	height: 566px;
	width: 400px;
	overflow: hidden;
	box-shadow: 1px 1px 12px #555;
	margin-bottom: 50px;
	margin-top: 75px;
}

a:link /* Ne pas souligner les liens */
{
text-decoration:none;
}
main
{
	display: flex;
	align-items: center;
	flex-direction: column;
}
.bannière /* Bannière "Prochainement" */
{
	display: flex;
	justify-content: center;
    border-radius: 1rem;
    background-color: rgb(87,156,135);
    color: rgb(253,203,70);
    margin-top: 15px;
    margin-bottom: 140px;
    width: 25%;
}
.bannière p
{
	font-size: 1.4em;
	font-family: Impact, "Arial Black", Arial, Verdana, sans-serif;
}
/* loading dots */

.loading:after 
{
  content: ' .';
  -webkit-animation: dots 1.4s steps(5, end) infinite;
}

@keyframes dots 
{
  0%, 20% {
    color: rgba(0,0,0,0);
    text-shadow:
      .25em 0 0 rgba(0,0,0,0),
      .5em 0 0 rgba(0,0,0,0);}
  40% {
    color: rgb(253,203,70);
    text-shadow:
      .25em 0 0 rgba(0,0,0,0),
      .5em 0 0 rgba(0,0,0,0);}
  60% {
    text-shadow:
      .25em 0 0 rgb(253,203,70),
      .5em 0 0 rgba(0,0,0,0);}
  80%, 100% {
    text-shadow:
      .25em 0 0 rgb(253,203,70),
      .5em 0 0 rgb(253,203,70);}
}
footer /* Bas de page */
{
	display: flex;
	justify-content: space-between;
	background-color: rgb(87,156,135);	
	color: rgb(253,203,70);
	position: fixed;
    bottom: 0;
    width: 100%;

}
footer h3
{
	display: flex;
	padding-left: 40px;
	padding-right: 40px;
	color: rgb(253,203,70);
}
footer h3:hover 
{
  /* Commencer l'annimation et la faire durer 1s */
  animation: shake 1s;

  /* Quand elle est finie, recommencer */
  animation-iteration-count: infinite;
}

@keyframes shake {
  0% { transform: translate(1px, 1px) rotate(0deg); }
  10% { transform: translate(-1px, -2px) rotate(-1deg); }
  20% { transform: translate(-3px, 0px) rotate(1deg); }
  30% { transform: translate(3px, 2px) rotate(0deg); }
  40% { transform: translate(1px, -1px) rotate(1deg); }
  50% { transform: translate(-1px, 2px) rotate(-1deg); }
  60% { transform: translate(-3px, 1px) rotate(0deg); }
  70% { transform: translate(3px, 1px) rotate(-1deg); }
  80% { transform: translate(-1px, -1px) rotate(1deg); }
  90% { transform: translate(1px, 2px) rotate(0deg); }
  100% { transform: translate(1px, -2px) rotate(-1deg); }
}
@media all and (max-width: 429px) /* Responsive Mobile*/
{
	header
	{
		font-size: 65%;
	}
	#block
	{
		margin: 0%;
	}
	.menu1 figure
	{
		display: flex;
		height: 175px;
		width: 125px;
		margin-left: 10px;
		margin-right: 10px;
		margin-top: 30px;
		margin-bottom: 30px;
	}
	.bannière
	{
		font-size: x-small;
		width: 125px;
		margin-bottom: 80px;
	}
	.bannière p
	{
		font-size: 1.2em;
	}
	.sousmenu1, .sousmenu2, .sousmenu3, .sousmenu4
	{
		font-size: 40%;
	}
	footer h3
	{
		padding-left: 30px;
		padding-right: 30px;
		font-size: x-small;
	}
	main
	{
		height: 100%;
	}
}
@media all and (min-width: 430px) and (max-width: 1000px) /* Responsive  Tablette*/
{
	#block
	{
		margin: 0%;
	}
	header
	{
		font-size: 70%;
	}
	.menu1 figure
	{
		display: flex;
		height: 232px;
		width: 164px;
		margin-left: 10px;
		margin-right: 10px;
		margin-top: 50px;
		margin-bottom: 30px;
	}
	.sousmenu1, .sousmenu2, .sousmenu3, .sousmenu4
	{
		font-size: 50%;
	}
	.bannière
	{
		font-size: small;
		width: 200px;
		margin-bottom: 70px;
	}
	footer h3
	{
		padding-left: 30px;
		padding-right: 30px;
		font-size: smaller;
	}
	
}
